<ion-menu [content]="content">
  <ion-content>
    <div *ngIf="!logado" >
      <h5 color="primary" text-center>Faça o login para aproveitar todas as promoções!</h5>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button (click)="login()" class="facebook-button" color="fb-color" full ><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Login com Facebook</button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
      <hr>
    </div>
    <div *ngIf="logado" class="logado" >
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="assets/img/avatar.jpg" alt="" class="avatar" >
          </ion-col>
          <ion-col col-9>
            <h5 color="fb-color" class="nome-login" (click)="login()" >Nildo Macena</h5>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </div>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="openLocalizacao()">
        Nos encontre
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>