page-informacoes {
    .info{
        width: 100%;
        height: 100px;
        background: #ff8a65;
    }
    img{
        position: relative;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
    }
    #col-name{
        
        color: white;
    }
}
