<ion-header>

  <ion-navbar>
    <ion-title>{{sanduiche.titulo}}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="slide-container">
    <ion-slides *ngIf="sanduiche" pager="true" loop="true" autoplay="3500" >
      <ion-slide>
        <img [src]="sanduiche.linkImagem">
      </ion-slide>
      <ion-slide>
          <img src="assets/img/sanduiches/sanduiche-generico.png"/>
      </ion-slide>
    </ion-slides>
  </div>
  <h2 text-center class="preco" >{{sanduiche.preco | currency:'BRL':true}}</h2>
  <hr>
  <div margin-left>
    <h5 no-padding no-margin style="color: #e65100" >Descrição</h5>
    <p class="ingredientes">{{sanduiche.ingredientes}}</p>
  </div>
  <hr>
  <!--
  <ion-fab bottom right >
      <button ion-fab (click)="ligar()" ><ion-icon name="call"></ion-icon></button>
  </ion-fab>
-->
  <div class="avaliar-nao-logado" *ngIf="!user" >
      <p text-center>Faça login para avaliar esse lanche</p>
      <ion-grid> 
          <ion-row *ngIf="estrelas">
            <ion-col>
              <button ion-button icon-only clear disabled>
                  <ion-icon name="star"  ></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              
              <button ion-button icon-only clear disabled>
                <ion-icon name="star" ></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              
              <button ion-button icon-only clear disabled>
                <ion-icon name="star" ></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              
              <button ion-button icon-only clear disabled>
                <ion-icon name="star" ></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              
              <button ion-button icon-only clear disabled>
                <ion-icon name="star" ></ion-icon>
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <button ion-button menuClose (click)="login()" class="facebook-button" color="fb-color" full ><ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;Login com Facebook</button>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
  </div>
  <div class="avaliar" *ngIf="user">
    <img [src]="user.photoURL">
    <p text-center>Avalie esse lanche</p>
    
    <ion-grid> 
      <ion-row *ngIf="estrelas">
        <ion-col>
          <button ion-button icon-only clear (click)="selecionaEstrela(0)">
              <ion-icon [name]="estrelas[0]? 'star': 'star-outline'"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          
          <button ion-button icon-only clear (click)="selecionaEstrela(1)">
            <ion-icon [name]="estrelas[1]? 'star': 'star-outline'"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          
          <button ion-button icon-only clear (click)="selecionaEstrela(2)">
            <ion-icon [name]="estrelas[2]? 'star': 'star-outline'"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          
          <button ion-button icon-only clear (click)="selecionaEstrela(3)">
            <ion-icon [name]="estrelas[3]? 'star': 'star-outline'"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          
          <button ion-button icon-only clear (click)="selecionaEstrela(4)">
            <ion-icon [name]="estrelas[4]? 'star': 'star-outline'"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col><button ion-button full [disabled]="!avaliou" (click)="enviarAvaliacao()" clear >Enviar</button></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br><hr>
  <h5 text-center>Comentários</h5>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar2.png">
      </ion-avatar>
      <h2>Mickey</h2>
      <p>Ótimo sanduíche. Bem saboroso! Vou pedir novamente da próxima vez!</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar3.jpeg">
      </ion-avatar>
      <h2>Minnie</h2>
      <p>Muito gostoso! Vou pedir de novo!</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar4.png">
      </ion-avatar>
      <h2>Donald</h2>
      <p>Bem legal! Gostei!</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  
    <ion-grid no-margin no-padding>
      <ion-row>
        <ion-col><button id="botao-esquerdo" (click)="comentar()" clear no-margin ion-button icon-start full><ion-icon name="chatbubbles"></ion-icon>Comentar</button></ion-col>
        <ion-col><button id="botao-direito" (click)="ligar()" clear no-margin ion-button icon-start full><ion-icon name="call"></ion-icon>Liga pra gente</button></ion-col>
      </ion-row>
    </ion-grid>
  
</ion-footer>
