page-carrinho {
    ion-grid{
        ion-row{
            height: 100%;
        }
        height: 100%;
    }

    .valor_carrinho{
        font-size: large;
    }

    .item-md{
        padding-left: 0px;
    }
    .item-info{
        font-size: smaller;
    }
    .titulo-lanche{
        font-size: 1.6rem;
        margin-left: 5px;
    }
    .avatar-wrapper{
        width: 100%;
    }

    .descricao-lanche{
        font-size: 85%;
        font-weight: 400;
    }

    .vazio{
        margin: 10px;
    }

    .segmento{
        margin-bottom: 20px;
    }
    .imagem-lanche{
        min-width: 15vw;
        min-height: 15vw;
    }

    ion-footer{
        height: 56px;
        font-weight: bolder;
    }


}   