page-fechar-pedido {
    ion-footer{
        height: 56px;
        font-weight: bolder;
    }
    
    .valor_carrinho{
        font-size: large;
    }

    .selecionado{
        background-color: #b39ddb;
    }
}
